{% extends "TsdGtdBundle::base.html.twig" %}

{% block title %} Add action {%if project is defined%}
    ({{project.name}})
    
    {%endif%}
{% endblock %}

{% block heading %}Add action
    {%if project is defined%}
    to '<a href="{{ path('tsd_gtd_project_view', {'id': project.id}) }}">{{ project.name }}</a>'
    {%endif%}
{% endblock %}


{% block content %}
    <p>
        <a href="{{ path('tsd_gtd_action_add', {'project_id': project.id}) }}"><i class="fa fa-plus"></i> another action</a>
    </p>
    <p><strong>Project notes</strong></p><p> {{project.notes|nl2br}}</p>
    {{ form(form) }}
    
{% endblock %}
