{% extends "TsdGtdBundle::base.html.twig" %}
{% block title %}
{{ project.name }}
{% endblock %}
{% block heading %}
{{ project.name }}
<a href="{{ path('tsd_gtd_project_edit', {'id': project.id}) }}"><i class="fa fa-pencil"></i></a>
<a href="{{ path('tsd_gtd_action_add', {'project_id': project.id}) }}"><i class="fa fa-plus"></i></a>
{% if project.actions|length == 0 %}
    <span class="mark-done">
        <a href="{{ path('tsd_gtd_project_markdone', {'id': project.id}) }}">
            <i class="fa fa-check"></i>
        </a>
    </span>
{% endif %}
{% endblock %}
{% block content %}
{{ project.notes }}

<table class="table">
    {% for action in project.actions %}
    <tr><td>
            {% include 'TsdGtdBundle:Action:item.html.twig' %}
    </td></tr>
    <tr><td>
        <a href="{{ path('tsd_gtd_action_add', {'project_id': project.id}) }}"><i class="fa fa-plus"></i> add action</a>
    </td></tr>
    {% endfor %}
    
</table>
{% endblock %}
